{% extends 'base_generic.html' %}

{% block content %}
<h2>Consultar Saldo</h2>

<form method="POST">
    {% csrf_token %}
    <label for="account_number">Número da Conta:</label><br>
    <input type="text" id="account_number" name="account_number" required><br><br>

    <button type="submit">Consultar Saldo</button>
</form>

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="message {{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}